* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: #7eee12;
}
form {
    margin-left: 15px;
    text-align: center;

}

#submit {
    margin: 10px;
    background-color: #ff7900;
}

#vysledek {
    text-align: center;
    font-size: 2em;
    color: #d06600;
}