#about .items {
    display: block;
    padding: 1rem;
}

#about .items .item {
    display: flex;
    text-align: left;
}

#about .items .item i {
    align-self: center;
    margin-right: 1.3rem;
    margin-bottom: 0;
}

/* Smartphone */

@media screen and (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }

    #navbar #hambac {
        display: block;
    }

    #navbar #logo {
        margin-bottom: 1.3rem;
        text-align: center;
    }

    #navbar ul {
        flex-direction: column;
        align-items: stretch;
        display: none;
    }

    #navbar ul li {
        padding: 0.5rem;
        border-bottom: #f4f4f4 1px dotted;
    }

    #navbar ul li:first-child {
        margin-top: 0.8rem;
        border-bottom: #f4f4f4 1px dotted;
    }

    #navbar {
        align-items: flex-start;
    }

    #navbar ul {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    h1 .l-heading {
        letter-spacing: 0;
        font-size: 2rem;
    }

    #project {
        display: block;
        padding: 1.5rem;
    }

    #project .m-heading {
        margin-bottom: 2rem;
    }

    #images .items div:last-child {
        display: none;
    }

    #contact {
        flex-direction: column;
    }
}

@media screen and (max-height: 568px) {
    .l-heading {
        font-size: 2rem;
        letter-spacing: 0;
    }
}
