* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: #eee ;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    margin: 2rem 0;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

footer {
    background: white;
    color: white;
}

/* Utility Classes */
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    font-family: "Varela Round", sans-serif;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #ffffff;
    background: #b23434;
    padding:  0.8rem 2rem;
    border: none;
    border-radius: 5px;;
    text-decoration: none;
}

.btn:hover {
    background-color: #7731b7;
}

.btn-dark {
    background: #0a050b;
    color: white;
}

.a {
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height:  1.1;
    text-align: center;
}

.py-1 {
    padding:  1.5rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding:  3rem 0;
}

.p-1 {
    padding:  1.5rem ;
}

.p-2 {
    padding: 2.5rem ;
}

.p-3 {
    padding:  3.5rem ;
}

.bg-light {
    background: #F9F1EA;
    color: #333333;
}

.bg-dark {
    color: white;
    background-color: #291317;
}

.bg-primary {
    background-color: white;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #aaa dotted 1px;
}

.source {
    font-size: small;
    position: absolute;
    bottom: 0;
    right: 0;
    color: gray;
    margin: 10px 20px;
}

.source a {
    color: #b23434;
    text-decoration: none;
}

#logo {
    font-size: larger;
    font-weight: bold;
}

.text-primary {
    color: #b23434;
    font-family: "Varela Round", sans-serif;
}

p {
    margin: 0.75rem 0;
}

#navbar {
    background: #333;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;

}

#navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
}

#navbar a {
    color: #fff;
    text-decoration: none;
}

#navbar ul li a {
    padding: 0.5rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background-color: #b23434;
    border-radius: 5px;
}

#showcase {
    background: #000000 url(../img/showcase.jpg) no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

#about {
    margin: 0;
}
#about .items {
    display: flex;
    padding: 1rem;
    flex: 1;
}

#about .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#about .items .item i {
    background: #76858d;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#project {
    display: flex;
}

#project div {
    flex: 1;
}

#project .project-img {
    background: url(../img/teamphoto.jpg) no-repeat center center/cover;
}

#images .items {
    display: flex;
    justify-content: space-between;
}

#images .items img {
    display: block;
    margin: auto;
    width: 80%;
}

#contact {
    display: flex;
}

#contact div {
    flex: 1;
}

#contact .contact-adress {
    border-top: 1px gray solid;
}
#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form label {
    display: block;
    margin-bottom: 3px;
}

#contact .contact-form input,
#contact .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

#contact h3 {
    margin-top: 2rem;
}

#contact .btn {
    margin: 0.75rem;
}

#contact .btn:hover {
    background-color: #F9F1EA;
    border: 1px solid black;
    color: black;
}
